<div class="container mt-5">
    <h1>{{schedule.movie_name}} - {{schedule.ecranisation_name}}</h1>
    <h6>Duration: {{convertTime schedule.movie_duration}}</h6>
    <h6>Date: {{schedule.timestamp}}</h6>
    <hr>

    <h6>Room: {{schedule.room_name}}</h6>

    <div id="room" class="mt-5">
        <div id="screen" style="background-color: grey; width: 400px; height: 10px; margin: 0 auto;"></div>
        <div id="seats" style="margin-top: 200px;">
            <div class="row mt-3 justify-content-center align-items-center">
                <div seatID="1" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="2" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="3" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="4" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="5" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="6" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="7" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="8" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
            </div>
            <div class="row mt-3 justify-content-center align-items-center">
                <div seatID="9" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="10" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="11" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="12" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="13" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="14" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="15" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="16" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="17" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="18" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
            </div>
            <div class="row mt-3 justify-content-center align-items-center">
                <div seatID="19" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="20" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="21" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="22" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="23" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="24" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="25" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="26" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="27" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="28" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="29" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="30" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
            </div>
            <div class="row mt-3 justify-content-center align-items-center">
                <div seatID="31" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="32" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="33" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="34" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="35" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="36" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="37" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="38" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="39" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="40" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="41" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="42" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
            </div>
            <div class="row mt-3 justify-content-center align-items-center">
                <div seatID="43" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="44" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="45" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="46" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="47" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="48" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="49" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="50" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="51" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="52" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="53" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
                <div seatID="54" class="ml-2" style="background-color: aqua; width: 50px; height:50px; cursor:pointer;">
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center align-items-center" style="margin-bottom: 50px">
        <button id="buyselected" class="btn btn-primary mt-3">Buy selected</button>
        </div>
    </div>
</div>

<script>

    let seats = {{{ scheduleSeats }}};
    $(document).ready(() => {
        for (let seat of seats) {
            if (seat.occupied) {
                $(`div[seatID='${seat.seat_id}']`).css('background-color', 'red');
            }
            else {
                $(`div[seatID='${seat.seat_id}']`).css('background-color', 'green');
            }
        }
    });
    $('div[seatID]').click(function () {
        let seatId = $(this).attr('seatID');
        let seat = seats.filter(e => e.seat_id == seatId)[0];
        if (seat) {
            if (seat.occupied == 0) {
                if ($(`div[seatID='${seat.seat_id}']`).css('background-color') == 'rgb(255, 255, 0)') {

                    $(`div[seatID='${seat.seat_id}']`).css('background-color', 'green');
                }
                else {
                    $(`div[seatID='${seat.seat_id}']`).css('background-color', 'yellow');
                }
            }
        }
    });

    $('#buyselected').click(function() {
        let toBuy = [];
        for(let elem of $('div[seatID]')){
            if ($(elem).css('background-color') == 'rgb(255, 255, 0)') {
                let seatsId = seats.filter(e => e.seat_id == $(elem).attr('seatID'))[0];
                toBuy.push(seatsId.seats_id);
            }
        }

    
        if (toBuy.length > 0) {
            let data = {
                scheduleID: {{schedule.id}},
                toBuy,
            };

            $.ajax({
                type: "POST",
                url: "/api/buytickets",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                success: (data) => {
                    if(data.ok) {
                        location.reload();
                    }
                    else {
                        console.log(data.reason);
                    }
                },
                dataType: "json",
            });
        }
    });


</script>