<div class="container mt-5">
    <div class="text-center">
        <h1>Available schedules</h1>
    </div>
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Movie name</th>
                <th scope="col">Room name</th>
                <th scope="col">Ecranisation</th>
                <th scope="col">Free seats</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {{#each schedules}}
            <tr style="cursor:pointer" class='clickable-row' data-href='/schedules/{{id}}'>
                <td>{{movie_name}}</td>
                <td>{{room_name}}</td>
                <td>{{ecranisation_name}}</td>
                <td>{{free_seats}}</td>
                <td>{{timestamp}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>